<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryVibes Login</title>
</head>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                {{{body}}}
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"><script>

</body>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quam alias libero, quis eligendi cupiditate aspernatur molestiae aliquam, autem illum doloremque, praesentium fugiat numquam. Iusto quae sapiente voluptates ullam accusantium officiis similique, dolor est libero quisquam laboriosam qui quam dicta ducimus ea facere fugit. Facere ut voluptas reprehenderit obcaecati consequatur sapiente amet est culpa quae fugit quam quo magni, eaque suscipit nulla recusandae molestiae officiis autem exercitationem. Ad pariatur reprehenderit dicta similique vel. Recusandae odit enim beatae quaerat neque voluptas, excepturi eius incidunt, soluta assumenda harum hic laboriosam nobis numquam magni, voluptatem modi sint in eaque quos natus? Vitae, dolorum?
</html>